{% extends "base.html" %}
  {% block content %}
    <h1>About page</h1>
    <div>
    <p>
    Demo web app by Vadim Deryabin on Flask using REST.
    </p>

    <p>
    Github repo is here: <a href="https://github.com/vad2der/Feature_Request">https://github.com/vad2der/Feature_Request</a>
    </p>
    <p>
    My LinkedIn profile: <a href="https://ca.linkedin.com/in/vadim-deryabin-a6b6b347">
    https://ca.linkedin.com/in/vadim-deryabin-a6b6b347</a>
    </p>
    <p>
    My StackOverflow page: <a href="http://stackoverflow.com/users/5490634/vadim">http://stackoverflow.com/users/5490634/vadim</a>
    </p>
    </div>
    
	
  {% endblock content %}